.button {
  font-size: 16px;
  font-weight: bold;
  background-color: #e0e0e0;
  padding: 10px 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;

  &.close {
    background: none;
    border: 0;
    span {
      color: inherit;
      font-size: 40px;
      font-weight: 500;
    }
  }

  &:hover {
    opacity: 0.8;
  }
}
